$system_font_size: 12px;
//$system_font_family: "Verdana";
$system_font_family: "Roboto", "Verdana", sans-serif;;
$mono_font_family: "Roboto Mono", monospace, sans-serif;
body {
  font-size: $system_font_size;
  font-family: $system_font_family;
  margin: 0;
  padding: 0;
}
.ImportedClass{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: red;
}